@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --main-color:#70a3e1;
   --border-bold:.5rem solid black;
   --border-light:.2rem solid black;
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   text-decoration: none;
}

/* scrollbar */
*::-webkit-scrollbar{
   height: 1rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

body{
   overflow-x: hidden;
   transition: .2s linear !important;
}

/* 사이드메뉴 */
body.active{
   padding-left: 35rem;
}

a{
   color:black;
}

section{
   max-width: 1200px;
   padding:3rem 2rem;
   margin: 0 auto;
   text-align: center;
}

.heading{
   margin-bottom: 7rem;
   text-align: center;
}

.heading span{
   text-transform: uppercase;
   font-size: 6.5rem;
   border-bottom: var(--border-bold);
}

/* 버튼 */
.btn{
   margin-top: 2rem;
   border:var(--border-light);
   font-size: 2rem;
   background: none;
}

.btn a{
   width:100%;
   display: inline-block;
   padding:.7rem 2rem;
}

.btn a:hover{
   background-color: var(--main-color);
   color:white;
}

/* header */
.header{
   position: fixed;
   top:0; left:-35rem;
   width: 35rem;
   height: 100vh;
   background-color:white;
   border-right: var(--border-bold);
   padding:3rem 2rem;
   text-align: center; 
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-flow: column;
   transition: .2s linear !important;
   z-index: 1000;
}

.header .logo{
   text-transform: uppercase;
   border-bottom: var(--border-bold);
   font-weight: bolder;
   font-size: 4.5rem;
}

/* navbar */
.header .navbar{
   width: 100%;
}

.header .navbar a{
   display: block;
   font-size: 2.5rem;
   padding:1.5rem;
   margin:.5rem;
   text-transform: capitalize;
}

.header .navbar a.active,
.header .navbar a:hover{
   background-color: var(--main-color);
}

#menu-btn{
   position: absolute;
   top:0; right:-5.5rem;
   height: 4.5rem;
   line-height: 4.5rem;
   width: 5rem;
   font-size: 2.5rem;
   cursor: pointer;
   background-color: black;
   color:white;
}

.header.active{
   left: 0;
}

/* home */
.home{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:2rem;
   min-height: 100vh;
}

.home .image{
   flex:1 1 40rem;
}

.home .image img{
   height: 60rem;
   padding:1rem;
   border:var(--border-bold);
}

.home .content{
   flex:1 1 40rem;
}

.home .content h3{
   text-transform: uppercase;
   font-size: 5rem;
   margin-bottom: 1rem;
}

.home .content span{
   display: inline-block;
   padding:1rem 2rem;
   background-color: var(--main-color);
   font-size: 2.5rem;
   margin:1rem 0;
   color:white;
}

/* about */
.about{
   min-height: 80vh;
}

.about .box-container{
   margin-top:5rem;
   display: flex;
   align-items: stretch;
   gap:2rem;
   flex-wrap: wrap;
   justify-content: center;
}

.about .box-container .box{
   width:32rem;
}

.about .box-container .box img{
   height:9rem;
}

.about .box-container p{
   font-size: 1.8rem;
   margin-top:2rem;
   line-height: 1.5;
}

/* skills */
.skills .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   align-items: center;
   margin-bottom: 5rem;
   
}
.skills .box-container .box{
   padding:3rem 1rem;
   border:2px solid black;
   height:40rem;
   color:black;
}

.skills .box-container .box:hover{
   color:white;
   background-color: black;
}

.skills .box-container .box img{
   height:15rem;
}

.skills .box-container .box h3{
   margin:1rem 0;
   font-size: 2rem;
   padding:1rem;
   background-color: var(--main-color);
}

.skills .box-container .box p{
   line-height: 2;
   font-size: 1.7rem;
}


/* portfolio */
.portfolio{
   min-height: 120vh;
}
.portfolio .box-container{
   margin-top:10rem;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
   align-items: flex-start;
}

.portfolio .box-container .box img{
   height: 30rem;
   width: 100%;
}

.portfolio .box-container .box h3{
   margin:1.5rem 0;
   font-size: 2rem;
   font-weight: bold;
}

.portfolio .box-container .box span{
   font-size: 1.7rem;
}

.portfolio .box-container .box p{
   font-size: 1.8rem;
   background-color: var(--main-color);
   color:white;
}

.portfolio .box-container:hover .box{
   opacity: .2;
}

.portfolio .box-container .box:hover{
   opacity: 1;
}

/* footer */
.footer{
   text-align: center;
   background-color: black;
   padding:3rem;
   font-size: 1.4rem;
   color:white;
   margin-top:10rem;
}


/* media queries  */

@media (max-width:991px){
   html{
      font-size: 55%;
   }

   body.active{
      padding-left: 0;
   }
}

@media (max-width:450px){
   html{
      font-size: 50%;
   }

   .header.active{
      padding-top: 7rem;
   }

   #menu-btn.fa-times{
      right:0;
   }

   .home .image img{
      height: auto;
      width: 100%;
   }

   .heading span{
      font-size: 4rem;
   }

   .about .box-container{
      gap:5rem;
   }

   .skills{
      min-height: 60vh;
   }
}