
/* reset */
*{
    margin: 0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: '210 맨발의청춘 light';
}

:root{
    --main-color:#2a3657;
    --sub-color:#f3d43c;
}

/* 워터마크 지우기*/
.fp-watermark{ 
    display: none;
}

.heading{
    position: absolute;
    top:8%; left:50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color:var(--sub-color);
    text-transform: uppercase;
}

/* home */
#home{
    background-color: var(--main-color);
    position: relative;
}
/* 상단바 */
.topbar{
    width:100%; height:2rem;
    background-color: var(--sub-color);
    position: absolute;
    top:0;
}

.home_txt{
    flex: 1 1 40rem;
    color:var(--sub-color);
    text-align: center;
    line-height: 3;
}
.home_txt h1{
    font-size: 2.5rem;
}
.home_txt span{
    font-size: 1.7rem;
    background-color: var(--sub-color);
    padding:.5rem;
    color:var(--main-color);
}

/* 마우스 아이콘 */
.mouseicon {
    position: absolute;
    bottom: 5%; left: 50%;
    transform: translateX(-50%);
    color:white;
}

.mouseicon a span {
    position: absolute;
    top: 0; left: 50%;
    width: 30px; height: 50px;
    margin-left: -15px;
    border: 2px solid white;
    border-radius: 50px;
    box-sizing: border-box;
}
.mouseicon a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: white;
    border-radius: 100%;
    animation: sdb 2s infinite;
    box-sizing: border-box;
}
.mouseicon .txt {
    display: block;
    margin-top: 3.5rem;
    font-size: .9rem;
}

/* 스크롤 마우스 아이콘 애니메이션 */
@keyframes sdb {
    0%, 100%{
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}

/* skills */
#skills{
    background-color: var(--main-color);
}

.skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:2rem;
    margin-top: 2rem;
    /* background-color: rgba(255, 255, 255, 0.068); */
}

.skills-container .box{
    width:16rem;
    padding:2rem;
    color:var(--sub-color);

}
.circle span{
    font-size: 1.5rem;
    width:100%;
    display: inline-block;
    text-align: center;
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
}

.skills-container .box p{
    font-size: 1.1rem;
    line-height: 2;
    color:white;
}

.circle{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.circle_rotate{
    display: inline-block;
    padding:5rem;
    border-radius: 50%;
    background: none;
    border:.2rem dashed var(--sub-color);
    animation: rotate 8s linear infinite;
}

.circle_css{
    display: inline-block;
    padding:5rem;
    border-radius: 50%;
    background: none;
    border:.2rem solid var(--sub-color);
    position: relative;
}

.circle_scale{
    position: absolute;
    left:29%; top:30%;
    padding:2rem;
    border-radius: 50%;
    border: .2rem dashed var(--sub-color);
    animation: scale 5s linear infinite;
}

.circle_float{
    display: inline-block;
    padding:5rem;
    border-radius: 50%;
    border: .2rem outset var(--sub-color);
    animation: float 4s linear infinite;
}

.circle_tool_top{
    display: inline-block;
    padding:5rem;
    border-radius: 50%;
    border: .2rem dotted var(--sub-color);
    animation: move 4s linear infinite alternate;
    position: absolute;
    left:0; top:0;
}

.circle_tool_bottom{
    display: inline-block;
    padding:5rem;
    border-radius: 50%;
    border: .2rem dotted var(--sub-color);
    animation: re_move 4s linear infinite alternate;
}

/* circle 애니메이션 */
@keyframes move{
    100%{
        transform: translate(30%,0%);
    }
}

@keyframes re_move{
    100%{
        transform: translate(-30%,0%);
    }
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes scale{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
}

@keyframes float{
    0%, 100%{
        transform: scale(.9);
        border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    }
    50%{
        transform: scale(.8);
        border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
    }
}

/* portfolio */
#portfolio{
    background-color: var(--main-color);
    position: relative;
}

.flex_box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 7rem;
    border-radius: 10%/45%;
    background-color: #fff;
    padding:5rem 6rem;
    gap:2rem;
} 

.portfolio_txt{
    flex:1 1 40rem;
    line-height: 2.2;
    font-size: 1.1rem;
}

.portfolio_img{
    flex:1 1 30rem;
    text-align: center;
}

.portfolio_img img{
    width:90%;
}

.portfolio_txt h3{
    font-size: 1.8rem;
}

.portfolio_txt span{
    font-size: 1.3rem;
    background-color: var(--sub-color);
}

.portfolio_txt .btn a{
    display: inline-block;
    background-color: var(--sub-color);
    color:var(--main-color);
    text-align: center;
    width:8rem;
    padding:.4rem 0;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 2rem;
    font-weight: bold;
}

.portfolio_txt .btn a:hover{
    background-color: var(--main-color);
    color:var(--sub-color);
}

/* about */
#about  .footer{
    background-color: var(--sub-color);
    padding:1.5rem;
    position: absolute;
    left:0; bottom:0;
    width:100%;
    text-align: center;
    font-size: 1rem;
}

.contact_txt{
    font-size: 2.5rem;
    color:var(--main-color);
    text-align: center;
}

#about .box-container{
    display: flex;
    align-items: stretch;
    gap:2rem;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
 }
 
 #about .heading h2{
     color:var(--main-color);
 }
 #about  .box-container .box{
    width:20rem;
 }
 
 #about  .box-container .box img{
    height:5rem;
    text-align: center;
 }
 
 #about  .box-container p{
    font-size: 1rem;
    margin-top:2rem;
    line-height: 2;
 }


 /* swiper */
 /* .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */