/* reset */
*{
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --main-color:#9a8d78;
    --sub-color:#f4f1ec; 
}

html{
    overflow-x: hidden;
    letter-spacing: -1px;
}

.inner{
    max-width: 1200px;
    padding:2rem 3rem;
    margin: 0 auto;
}

.heading{
    font-size: 1.4rem;
    margin-top: 8rem;
    text-transform: capitalize;
    padding-left:5rem;
}

.heading span{
    color:var(--main-color);
    font-size: 1.1rem;
    text-transform:none;
}

/* 버튼 */
#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

.btn{
    color:white;
    border:1px solid white;
    font-size: 1.2rem;
    padding:0 1rem;
    width:7rem;
    text-align: center;
    margin-top:2rem;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color:var(--main-color);
}

.con_btn{
    color:var(--main-color);
    border:1px solid var(--main-color);
    font-size: 1.3rem;
    padding:.4rem 1rem;
    width:8rem;
    text-align: center;
    margin:3rem auto;
}
.con_btn:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color:white;
}

/* header */
#header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    z-index: 99;
}

#header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .logo a{
    font-size: 2rem;
    color:white;
}

/* nav */
.nav li {
    display: inline-block;
    margin-right: 2rem;
    text-transform: capitalize;
}

.nav li a {
    width: 100%;
    font-size: 1.1rem;
    color:white;
}

.nav li a::after {
    content: "";
    display: block;
    width: 0;
    /* 애니메이션 적용 */
    height: 0.1rem;
    background-color: var(--main-color);
    transition: width .5s;
    /* 애니메이션 */
}

.nav li a:hover::after {
    width: 100%;
    /* 애니메이션 적용 */
}

.nav li a:hover {
    color: var(--main-color);
}

/* banner */
.banner{
    width:100%;
    height:40rem;
    padding:0;
    background-image: url('../img/slide_img.png');
    background-size: cover;
}

.banner .banner_txt{
    position: absolute;
    left:20%; top:30%;
    line-height: 2.3;
    color:white;
}

.banner .banner_txt h2{
    font-size: 3.2rem;
}

.banner .banner_txt p{
    font-size: 1.2rem;
}

/* best */
.tab_menu{
    margin-top: 2rem;
}

.tab_menu .tabnav{
    font-size: 0;
    text-align: right;
    padding-right:5rem;
}
.tab_menu .tabnav li{
    display: inline-block;
}

.tab_menu .tabnav li a{
    font-size: 1.3rem;
    text-align: center;
    padding:.5rem 1.3rem;
    color:black;
}

.tab_menu .tabnav li a:hover{
    text-decoration: underline;
    color: var(--main-color);
}

.tabcontent{
    margin-top: 3rem;
}

.tabcontent #tab01, .tabcontent #tab02{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    justify-content: center;
}
